<%- include('partials/header-welcome') -%>



<main>
    <section class="flex">
        <div class="mx-auto max-w-7xl flex flex-row flex-wrap justify-center items-center">
            <div class="mt-5 prose p-10 text-center">
                <h1>Creativity on display at <span class="text-violet-400 block">FridgeSpace!<span></h1> 
                <h3 class="w-72 mx-auto">Share with family and friends and check out the gallery!</h3>
                <a href="/login" class="btn btn-primary mt-8 mx-3 px-10"> Login</a>
                <a href="/signup" class="btn bg-violet-300 text-violet-700 hover:bg-violet-400 hover:text-white mx-3 px-10"> Signup</a>
            </div>
            <div class="mt-10 p-8 bg-base-300 rounded-lg ">
                <img src="/imgs/jerry-wang-RwCP91RwZeM-unsplash.jpg" alt="child holding up artwork" class="rounded-lg">
            </div>
        </div>
    </section>
</main>
    

<%- include('partials/footer') -%>